.overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal {
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    max-height: calc(77% + 5vh);
}

.header {
    text-align: center;
    padding: 10px;
}

.body {
    padding: 15px 20px;
    overflow-y: auto;
}
