.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(30, 30, 30, 0.2);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    overflow-y: auto;
}

.modal {
    max-width: 70%;
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.header {
    text-align: center;
    padding: 10px;
}

.body {
    padding: 15px 20px;
    flex: 1;
    overflow-y: auto;
}

.footer {
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    gap: 8px;
}
