@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
    line-height: 1.5;
    font-weight: 400;
    color: #000;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    --font-roboto: "Roboto Slab";
    --font-ubuntu: "Ubuntu Sans Mono";
}

* {
    box-sizing: border-box;
}

body {
    font-family: var(--font-roboto);
    background-color: #000;
}

a {
    font-weight: 500;
    text-decoration: inherit;
}

button {
    font-family: inherit;
    cursor: pointer;
}
button:active {
    border-color: #6d6d6c;
}
